.clear { clear: both; }

html, body {
	margin: 0;
	padding: 0;
	background-color: #333;
	font-family: Helvetica, Arial, Tahoma, Sans-serif;
	font-size: 14px;
	color: #fff;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1
{
	
}

h2
{
	font-weight: bold;
	font-size: 20px;
}

.textshadow_black { text-shadow: 0px 1px 1px #000; }
.textshadow_white { text-shadow: 0px 1px 1px #fff; }

.primary_btn
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: rgba(255,255,255,0);
	-webkit-box-shadow: 0 1px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px rgba(0,0,0,.3);
	box-shadow: 0 1px rgba(0,0,0,.3);
	border: solid 1px rgba(0,0,0,.3);
        border-top: 1px solid #878787;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.2), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.2), rgba(255,255,255,0));
	background-image: -o-linear-gradient(top, rgba(255,255,255,.2), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,.2), rgba(255,255,255,0));
	background-image: linear-gradient(to bottom, rgba(255,255,255,.2), rgba(255,255,255,0));
        transition: background .2s;
}

.primary_btn:hover
{
        color: #f7d171;
        cursor: pointer;
}

#container
{
	width: 980px;
	margin: 0 auto;
}

#header_container
{
	width: 100%;
	padding-top: 30px;
}

	#header_container h1
	{
		background: transparent url('../img/slidrrr.png') no-repeat;
		width: 240px;
		height: 27px;
		float: left;
		margin: 0px;
		text-indent: -3000px;
	}
	
	#header_menu
	{
		float: right;
		width: 400px;
		font-size: 14px;
		text-shadow: 0px 1px 1px #000;
		font-weight: bold;
		text-align: right;
		padding-top: 8px;
	}
		#header_menu ul { float: right; padding-top: 6px; }
		#header_menu ul li
		{
			display: inline;
			margin: 0px 20px;
		}
                
                #header_menu ul li a { color: #fff; text-decoration: none; }
                #header_menu ul li a:hover { color: #f7d171; }
                	
	#header_login_btn
		{
			padding: 10px 16px 10px 16px;
			float: right;
			text-align: center;
                        margin-top: -4px;
		}
                
	#playrrr_container
	{
		width: 978px;
                margin: 0 auto;
		margin-top: 20px;
		height: 500px;
		border-bottom: 1px solid #1e1e1e;
	}
	
	#playrrr_info
	{
		border: 1px solid #1e1e1e;
		border-top: 1px solid #808080;
		width: 100%;
		background-image: linear-gradient(bottom, #414141 30%, #505050 100%);
		background-image: -o-linear-gradient(bottom, #414141 30%, #505050 100%);
		background-image: -moz-linear-gradient(bottom, #414141 30%, #505050 100%);
		background-image: -webkit-linear-gradient(bottom, #414141 30%, #505050 100%);
		background-image: -ms-linear-gradient(bottom, #414141 30%, #505050 100%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.3, #414141),
			color-stop(1, #505050)
		);
                padding: 15px 30px;
	}
        
            #playrrr_info .left_side { width: 75%; float: left; color: #d0d0d0; }
            #playrrr_info .right_side { width: 25%; float: right; }
            
            #playrrr_info .left_side h2 { color: #fff; }
            #playrrr_info .left_side h3
            {
                margin-top: 6px;
                font-size: 13px;
                font-weight: normal;
            }
            
            #playrrr_info .left_side span, #playrrr_info .left_side a { text-decoration: underline; color: #fff; transition: all .3s; }
            #playrrr_info .left_side a:hover { text-decoration: none; }

            #playrrr_info p
            {
                font-size: 12px;
                margin-top: 16px;
            }
                #playrrr_info p.tags { margin-top: 2px; }
                #playrrr_info p.tags span { text-decoration: none; }
            
            #playrrr_info #views
            {
                background: url(../img/eye.png) no-repeat;
                width: 100%;
                font-size: 18px;
                font-weight: bold;
                color: #f3f3f3;
                padding-left: 40px;
                margin-top: 15px;
                margin-left: 3px;
            }
            
            #playrrr_info #likes
            {
                background: url(../img/likebox.png) top center no-repeat;
                width: 196px;
                height: 36px;
                text-shadow: 0px 1px 1px #000;
                margin-top: 10px;
            }
                #playrrr_info #likes:hover { background-position: bottom center; cursor: pointer;}
                
                 #playrrr_info #likes h3
                 {
                     background: url(../img/like.png) no-repeat;
                     height: 20px;
                     padding-left: 28px;
                     padding-top: 4px;
                     font-weight: bold;
                     text-shadow: 0px 1px 1px #000;
                     float: left;
                     margin: 6px 0px 0px 13px;
                 }
                 
                 #playrrr_info #likes p
                 {
                     float: right;
                     font-weight: bold;
                     margin: 12px 16px 0px 0px;
                    
                 }
#under_video
{
    margin-top: 20px;
}
    
    #under_video .left_side { float: left; width: 600px; }
    #under_video .right_side { float: right; width: 360px; }

    #under_video .one_related
    {
        display: block;
        margin: 20px 0px;
        -webkit-transition: background .2s;  
	-moz-transition: background .2s;  
	transition: background .2s;
        text-decoration: none;
        color: #f3f3f3;
    }
    
    #under_video .one_related:hover { background: #3b3b3b; }
    
        #under_video .one_related:first-child { margin-top: 0px; }
    
        #under_video .one_related .related_img { float: left; margin-right: 15px; }
        #under_video .one_related big { padding-top: 4px; font-size: 15px; font-weight: bold; margin-top: 10px; display: block; }
        #under_video .one_related small { margin-top: 5px; font-size: 12px; display: block; }
        
div.slide-show {
	position: relative;
	width: 100%;
	height: 100%;
}
div.slide-show div.slides {
	position: absolute;
	top: 0;
	left: 0;
}
div.slide-show div.slides img {
	position: absolute;
	top: 0;
	left: 0;
}
div.slide-show div.slides div.next,
div.slide-show div.slides div.prev {
	position: absolute;
	top: 0;
	width: 79px;
	height: 79px;
	z-index: 10;
	cursor: pointer;
	display: none;
}
div.slide-show div.slides:hover div.next,
div.slide-show div.slides:hover div.prev {
	display: block;
}
div.slide-show div.last-slide:hover div.next,
div.slide-show div.first-slide:hover div.prev {
	display: none;
}
div.slide-show div.slides div.next {
	right: 0;
	background-image: url('../img/slides-next.png');
}
div.slide-show div.slides div.prev {
	left: 0;
	background-image: url('../img/slides-prev.png');
}

div.slide-show div.video {
	position: absolute;
	width: 380px;
	height: 214px;
	bottom: 50px;
	right: 10px;
	background-color: black;
	z-index: 50;
	cursor: move;
}
div.slide-show div.video div.drag {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
body.ie div.slide-show div.video div.drag {
	background: transparent url('../img/pixel.gif');
}
div.slide-show div.video-drop {
	position: absolute;
	background: rgba(100, 100, 100, 0.5);
	border: 1px dashed #3d4951;
}
body.ie6 div.slide-show div.video-drop,
body.ie7 div.slide-show div.video-drop,
body.ie8 div.slide-show div.video-drop {
	background: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f656565,endColorstr=#7f656565);
	zoom: 1;
}
div.slide-show div.video:hover div.toggle {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 26px;
	width: 26px;
	background: transparent url('../img/video-toggle.png');
	cursor: pointer;
}
div.slide-show div.video:hover div.toggle:hover {
	background: transparent url('../img/video-toggle-hover.png');
}

div.controls {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: #696969 url('../img/controls-bg.png');
}
div.controls div.timeline {
	position: absolute;
	top: 15px;
	left: 54px;
	height: 10px;
	background: #696969 url('../img/timeline-bg.png');
}
/* a timeline meretet ezzel a ket elemmel hatarozzuk meg */
div.controls div.timeline-start,
div.controls div.timeline-end {
	position: absolute;
}
div.controls div.timeline-start {
	left: 54px;
}
div.controls div.timeline-end {
	right: 450px;
}

div.controls div.slide {
	position: absolute;
	top: 0;
	height: 9px;
	overflow: hidden;
	z-index: 10;
	cursor: pointer;
}

div.controls div.slide div.background {
	background-image: url('../img/timeline-act.png');
	height: 100%;
	width: 0;
}

div.controls div.slide:hover {
	background-image: url('../img/timeline-hover.png');
}
div.controls div.slide:hover div.background {
	background-image: url('../img/timeline-act-hover.png');
}

/* az idovonalon a slide valtas jelolese */
div.controls div.timeline div.slide div.border {
	width: 4px;
	height: 10px;
	background-image: url('../img/timeline-border.png');
	position: absolute;
	top: 0;
	right: 0;
}
div.controls div.timeline div.watched div.border {
	background-image: url('../img/timeline-act-border.png');
}
div.controls div.timeline div.last-slide div.border {
	display: none;
}

/* a idovonal ket szele (csak dekoracio) */
div.controls div.timeline div.start,
div.controls div.timeline div.end {
	width: 4px;
	height: 10px;
	position: absolute;
	top: 0;
	z-index: 11;
}
div.controls div.timeline div.start {
	background-image: url('../img/timeline-start.png');
	left: 0;
}
div.controls div.timeline div.end {
	background-image: url('../img/timeline-end.png');
	right: 0;
}

div.controls div.timer {
	position: absolute;
	top: 11px;
	right: 76px;
	width: 100px;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	color: #888;
	font: bold 11px Verdana;
}
div.controls div.timer span {
	color: #bbb;
}
div.controls div.sections {
	position: absolute;
	top: 4px;
	right: 177px;
	width: 209px;
	height: 32px;
	background-image: url('../img/sections.png');
	cursor: pointer;
}
div.controls div.sections div.current {
	color: #F8F8F8;
	font: bold 11px Verdana;
	margin: 7px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 170px;
}
div.controls div.sections-list {
	position: absolute;
	bottom: 36px;
	width: 209px;
	right: 177px;
	background: rgba(104, 104, 104, 0.9);
	z-index: 50;
}
div.controls div.sections-list div {
	cursor: pointer;
	color: #f8f8f8;
	font: 11px Verdana;
	padding: 3px 10px;
}
div.controls div.sections-list div:hover {
	background: rgba(255, 255, 255, 0.2);
}
/* http://css-tricks.com/rgba-browser-support/ */
body.ie6 div.sections-list,
body.ie7 div.sections-list,
body.ie8 div.sections-list {
	background: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5686868,endColorstr=#e5686868);
	zoom: 1;
}
body.ie6 div.sections-list div:hover,
body.ie7 div.sections-list div:hover,
body.ie8 div.sections-list div:hover {
	background: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF);
	zoom: 1;
}

div.controls div.marker {
	position: absolute;
	top: -3px;
	left: -8px;
	width: 18px;
	height: 18px;
	background-image: url('../img/marker.png');
	z-index: 20;
}
div.controls div.thumb {
	background: white url('../img/toolbar-thumb-loader.gif') no-repeat center center;
	position: absolute;
	top: -75px;
	border: 1px solid black;
	overflow: hidden;
	z-index: 5;
}

div.controls div.button {
	width: 32px;
	height: 32px;
	margin: 4px;
	background: transparent no-repeat center center;
	cursor: pointer;
}

div.controls div.fullscreen {
	position: absolute;
	right: 0;
	background-image: url('../img/btn-fullscreen.png');
}
div.controls div.resize {
	position: absolute;
	right: 36px;
	background-image: url('../img/btn-resize.png');
}
div.controls div.resize-big-slide {
	background-image: url('../img/btn-resize-2.png');
}

div.controls div.play {
	position: absolute;
	left: 0;
	background-image: url('../img/btn-play.png');
}
div.controls div.pause {
	background-image: url('../img/btn-pause.png');
}

div.tooltip {
	position: absolute;
	top: -40px;
	left: -16px;
	z-index: 1000;
}
div.tooltip div.inner {
	color: #2b2c2c;
	font: bold 11px Verdana;
	border: 1px solid #555;
	background-image: url('../img/tooltip-bg.png');
	padding: 5px;
	border-radius: 5px;
	height: 27px;
	overflow: hidden;
	white-space: nowrap;
}
div.tooltip div.arrow {
	position: absolute;
	top: 25px;
	left: 10px;
	width: 12px;
	height: 9px;
	background-image: url('../img/tooltip-arrow.png');
	overflow: hidden;
}
div.tooltip-right div.arrow {
	left: auto;
	right: 10px;
}

div.debug {
	width: 1000px;
	margin: 0 auto;
	color: white;
	font: 11px Verdana;
}
div.debug div.error {
	color: red;
}